<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Home</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>22.02.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illo iure ratione voluptate voluptatem? Dicta dolor
      ducimus esse eveniet nobis officia praesentium repellendus voluptas voluptatum! Eaque odio perspiciatis quidem
      suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illo iure ratione voluptate voluptatem? Dicta dolor
      ducimus esse eveniet nobis officia praesentium repellendus voluptas voluptatum! Eaque odio perspiciatis quidem
      suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illo iure ratione voluptate voluptatem? Dicta dolor
      ducimus esse eveniet nobis officia praesentium repellendus voluptas voluptatum! Eaque odio perspiciatis quidem
      suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illo iure ratione voluptate voluptatem? Dicta dolor
      ducimus esse eveniet nobis officia praesentium repellendus voluptas voluptatum! Eaque odio perspiciatis quidem
      suscipit.</p>
  </div>
</div>
